.vs/Battleship/v16/Server/sqlite3/db.lock
.vs/Battleship/v16/Server/sqlite3/storage.ide
.vs/Battleship/v16/Server/sqlite3/storage.ide-shm
.vs/Battleship/v16/Server/sqlite3/storage.ide-wal
.vs/FlareHRChallenge-Battleship/DesignTimeBuild/.dtbcache
.vs/FlareHRChallenge-Battleship/v16/Server/sqlite3/db.lock
.vs/FlareHRChallenge-Battleship/v16/Server/sqlite3/storage.ide
Battleship/bin/Debug/netcoreapp2.2/Battleship.deps.json
Battleship/bin/Debug/netcoreapp2.2/Battleship.runtimeconfig.dev.json
Battleship/bin/Debug/netcoreapp2.2/Battleship.runtimeconfig.json
Battleship/bin/Debug/netcoreapp2.2/FlareHRChallenge-Battleship.deps.json
Battleship/bin/Debug/netcoreapp2.2/FlareHRChallenge-Battleship.runtimeconfig.dev.json
Battleship/bin/Debug/netcoreapp2.2/FlareHRChallenge-Battleship.runtimeconfig.json
Battleship/obj/Debug/netcoreapp2.2/Battleship.AssemblyInfo.cs
Battleship/obj/Debug/netcoreapp2.2/Battleship.csproj.FileListAbsolute.txt
Battleship/obj/Debug/netcoreapp2.2/FlareHRChallenge-Battleship.AssemblyInfo.cs
Battleship/obj/Debug/netcoreapp2.2/FlareHRChallenge-Battleship.csproj.FileListAbsolute.txt
Battleship/obj/Battleship.csproj.nuget.dgspec.json
Battleship/obj/Battleship.csproj.nuget.g.props
Battleship/obj/Battleship.csproj.nuget.g.targets
Battleship/obj/FlareHRChallenge-Battleship.csproj.nuget.dgspec.json
Battleship/obj/FlareHRChallenge-Battleship.csproj.nuget.g.props
Battleship/obj/FlareHRChallenge-Battleship.csproj.nuget.g.targets
Battleship/obj/project.assets.json
Battleship-UnitTests/bin/Debug/netcoreapp2.2/Battleship-UnitTests.deps.json
Battleship-UnitTests/bin/Debug/netcoreapp2.2/Battleship-UnitTests.runtimeconfig.dev.json
Battleship-UnitTests/bin/Debug/netcoreapp2.2/Battleship-UnitTests.runtimeconfig.json
Battleship-UnitTests/bin/Debug/netcoreapp2.2/FlareHRCHallenger-Battleship-UnitTests.deps.json
Battleship-UnitTests/bin/Debug/netcoreapp2.2/FlareHRCHallenger-Battleship-UnitTests.runtimeconfig.dev.json
Battleship-UnitTests/bin/Debug/netcoreapp2.2/FlareHRCHallenger-Battleship-UnitTests.runtimeconfig.json
Battleship-UnitTests/obj/Debug/netcoreapp2.2/Battleship-UnitTests.AssemblyInfo.cs
Battleship-UnitTests/obj/Debug/netcoreapp2.2/Battleship-UnitTests.csproj.CopyComplete
Battleship-UnitTests/obj/Debug/netcoreapp2.2/Battleship-UnitTests.csproj.FileListAbsolute.txt
Battleship-UnitTests/obj/Debug/netcoreapp2.2/FlareHRCHallenger-Battleship-UnitTests.AssemblyInfo.cs
Battleship-UnitTests/obj/Debug/netcoreapp2.2/FlareHRCHallenger-Battleship-UnitTests.csproj.CopyComplete
Battleship-UnitTests/obj/Debug/netcoreapp2.2/FlareHRCHallenger-Battleship-UnitTests.csproj.FileListAbsolute.txt
Battleship-UnitTests/obj/Battleship-UnitTests.csproj.nuget.dgspec.json
Battleship-UnitTests/obj/Battleship-UnitTests.csproj.nuget.g.props
Battleship-UnitTests/obj/Battleship-UnitTests.csproj.nuget.g.targets
Battleship-UnitTests/obj/FlareHRCHallenger-Battleship-UnitTests.csproj.nuget.dgspec.json
Battleship-UnitTests/obj/FlareHRCHallenger-Battleship-UnitTests.csproj.nuget.g.props
Battleship-UnitTests/obj/FlareHRCHallenger-Battleship-UnitTests.csproj.nuget.g.targets
Battleship-UnitTests/obj/project.assets.json
